html{
	min-width: 860px;
	height: 100%;
	overflow-x: hidden;
}
body{
	margin:0px;
	height: 100%;
}

table{
	text-align: center;
	font-family: "Montserrat";
	border-collapse: collapse;
}

td {

	text-align: center;
	border: 1px solid #6d6c6c;
	overflow: hidden;
	font-size: 12px;
	color: white;
	background-color: #3498db;
	padding: 5px;
}

tr{
	font-size: 12px;
	color: #6d6c6c;
}

.busy{
    background-color: #3c3c3c;
    color: #01080e;
    
}

.free{
	background-color: white;
	color: white;
}

.header{
	font-family: "Roboto";
	background-color: #0288D1;
	padding-left: 10px;
	padding-right: 10px;
}

.day{
	font-family: "Roboto";
	background-color: #0288D1;
	text-align: left;
}

.navbar{
	width: 100%;
	height:50px;
	z-index: 2;
	background-color: #3498db;
	display: block;
	clear: both;
	position: fixed;
	box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    
}

.mainMenu{
	display: inline-block;
	vertical-align: top;
}


.mainMenu> p, .mainMenu>a, .navbar>p,#responsiveNavButton {
	font-family: 'Roboto', sans-serif;
	display: inline-block;
	font-size: 14px;
	color: white;
	position:relative;
	margin-right: 20px;
	transition: linear 0.1s;
	cursor: pointer;
	padding: 2px 5px 2px 5px;
	text-decoration: none;
}
.mainMenu>p:hover, #responsiveNavButton:hover{
	/*border-bottom: solid white 2px; */
	border-bottom: 1px white solid; 
	padding: 2px 5px 2px 5px;
}

.mainMenu p a{
	text-decoration: none;
	color: white;
	cursor: pointer;
}

#login, #usernameNav{
	margin-top: 11px;
	font-family: 'Roboto', sans-serif;
	display: inline-block;
	font-size: 14px;
	padding: 10px;
	background-color: white;
	transition: linear 0.1s;
	margin-right: 50px;
	color: black;
	border-radius: 30px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 6px;
	border: 1px #3498db solid; 
}

#usernameNav a{
	text-decoration: none;

}
#usernameNav:hover{
	cursor: pointer;
	color: white;
	background-color: #2b3856;
}
#login:hover{
	cursor: pointer;
	color: white;
	background-color: #2b3856;
}
.main{
	width: 100%;
	height: 100%;
	background-color: white;
	display: block;
	clear: both;
	padding-top: 50px;
}
.mainGroup{
	width: 100%;
	background-color: white;
	display: block;
	clear: both;
	overflow: hidden;
}

.mainSignup{
	width: 100%;
	height: 100%;
	background-color: white;
	display: block;
	clear: both;
	overflow: hidden;
}
.mainIndex{
	width: 100%;
	height: 700px;
	background-color: white;
	display: block;
	clear: both;
	overflow: hidden;
}

.slider{
	display: block;
	width: 400%;
	height: 100%;
	padding-left: 0px;
}

	/* HERE IS DA IMAGE BOMB FOR THE FIRST AND LAST SLIDE*/
#first{	
	background-image: url("http://i.imgur.com/rTTZQB8.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
#second{	
	background-image: url("http://i.imgur.com/H4esOFn.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
	font-size: 20px; }

.slide{
	float:left;
	width: 25%;
	height: 100%;
}


.slide>p{
	color: #FFFFFF;
	text-align: center;
	font-size: 100px;
	margin: 0px;
	padding-top: 220px;
	font-family: 'Montserrat', sans-serif;
}

#tagline{
	color: #FFFFFF;
	text-align: center;
	font-size: 100px;
	margin: 0px;
	padding-top: 0px;
	font-family: 'Montserrat', sans-serif;
	font-style: normal; 
	text-align: center; 
	margin-top:-12px; 
	font-size:30px;
}
.footer{
	width: 100%;
	height: 40px;
	clear: both;
	background-color: #3498db;
	display: block;
	margin: 0px;
}

.footer>p{
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	margin: 0px;
	top:50%;
	transform: translateY(-50%);
	padding-left: 50px;
	position:relative;
	font-family: "Roboto";
}

.modal{
	display: none;
	position: fixed;
	z-index: 20;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.6);
	top: 0;
	padding-top: 7%;
	transition: 0.2s;
}

.modal-content{
	background-color: white;
	margin: auto;
	border-radius: 10px;
	position: left;
	color:black;
	-webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    padding-top: 0px;
    overflow: hidden;
    height: 380px;
    width: 400px;
    font-size: 13px;
    font-family: "Roboto";
}

@-webkit-keyframes animatetop {
    from {top: -300px; opacity:0}
    to {top: 0px;opacity:1}
}

@keyframes animatetop {
    from {top: -300px; opacity:0}
    to {top: 0px;opacity:1}
}

.close{
	color: #e6e6e6;
	font-size: 20px;
	font-weight: bold;
	transition: 0.2s linear;
	font-family: Arial;
	display: inline-block;
	margin-right: 10px;
	text-align: right;
	padding: 3px 3px 3px 3px;
	position: relative;
	left: 190px;
}


.close:hover{
	cursor: pointer;
	color:black;
}

#cleeque{
	float: left;
	font-size: 25px;
	padding-left: 10px;
	font-family: 'Montserrat', sans-serif;
	border: none;
	top:50%;
	transform: translateY(-50%);
	padding-left: 10px;
	position:relative;
}

#logo{
	margin-left: 50px;
	margin-top: 2px;
	position: relative;
	cursor: pointer;
}

.sliderController{
	position: absolute;
	z-index: 10;
	top: 150px;
	left: 2%;
	opacity: 0.3;
	width: 95%;
	right: 2%;
	transition: linear 0.2s;
	height: 70%;
}

.sliderController>p{
	z-index: 11;
	transition: 0.2s;
}
.sliderController>p:hover{
	opacity: 0.5;
}

.navdot{
	position: absolute;
	top: 100%;
	margin: auto;
	float: left;
	width: 100%;
	left: 0;
}

.navdot ul{
	padding-left: 0px;
	margin: 0px auto;
	text-align: center;
	left: 0;
}
.navdot ul li{
	border: 2px solid white;
	padding: 5px 5px 5px 5px;
	margin: 0px 5px 0px 5px;
	border-radius: 50%;
	position: relative;
	display: inline-block;
	left: 0;
	z-index: 100;
	color: white;
	cursor: pointer;
	transition: 0.3s;
}
.navdot ul .active{
	background-color: white;
	transition: 0.3s;
}

.modalHeader{
	background-color: #3498db;
	color: white;
	text-align: center;
	margin: 0px ;
	height: 20%;
}

#modalCleeque{
	margin: 0;
	height: 100%;
	font-family: "Montserrat";
	font-size: 40px;
	padding-bottom: 5px;
	position: relative;
	top: -23px;
}

.modalBody{
	padding-top: 8%;
	text-align: center;
}

.modalBody form input{
	width: 85%;
	height: 25px;
	font-size: 15px;
	text-align:left;
	color: #6d6c6c;
	padding-left: 5px;
}
.modalBody form input :focus{
	border: #cccccc 1px solid;
	padding: 5px;
	transition: 0.2s;
}

.nusnetLogin{
	font-size: 15px;
	background-color: navy;
	color: white;
	padding: 10px 10px 10px 10px;
	width: 330px;
	display: inline-block;
	margin-bottom: 5%; 
	cursor: pointer;
}

.nusnetLogin p{
	margin: 0px;
	text-decoration: none;
}
.nusnetLogin a{
	text-decoration: none;
	color: white;
	transition: 0.1s;
}

.nusnetLogin:hover{
	text-decoration: none;
	background-color: #3498db;
	transition: 0.1s;
}




#loginButton{
	background-color: #3498db;
	height: 30px;
	width: 30%;
	border: none;
	color: white;
	border: 1px solid white;
	border-radius: 15px;
	font-size:15px;
	transition: 0.1s linear;
	cursor: pointer;
	text-align: center;
	margin-top: 5%;
}

#loginButton:hover{
	background-color: white;
	color:#3498db;	
	border: 1px solid #3498db;
}

#modalSignup{
	font-family: "Roboto";
	background-color: #e85343;
	color: white;
	position: relative;
	display: inline-block;
	width: 20%;
	text-align: center;
	padding: 3px 5px 2px 5px;
	cursor: pointer;
	font-size: 20px;
	margin-top: 0%;
	border-radius: 10px;
	height: 20px;
	transition: 0.1s;
	border: 1px solid #e85343;
	text-decoration: none;
	font-size: 15px;
	margin-left: 10px;
}

#account{
	font-size: 20px;
	text-align: left;
}

#modalSignup:hover{
	color:#e85343 ;
	background-color:white;
	border: 1px solid #e85343;
}

#errorMessage{
	color: red;
	margin: 0;
	margin-bottom: 5px;
}

.inputEmpty{
	border: red 1px solid;
}

.loaderGIF{
	background-image: url(http://loading.io/loader/?use=eyJzaXplIjo4Niwic3BlZWQiOjEsImNiayI6IiNmZmZmZmYiLCJjMSI6IiMwMGIyZmYiLCJjMiI6IjEyIiwiYzMiOiI3IiwiYzQiOiIyMCIsImM1IjoiNSIsImM2IjoiMzAiLCJ0eXBlIjoiZGVmYXVsdCJ9) center no-repeat;
	background-color: white;
	height: 100%;
	width: 100%;
	z-index: 1000000;
	top: 0;
	left: 0;

}
#responsiveNavButton{
	display: none;
}



@media screen and (max-width: 680px){
	.menu p:nth-child(-n+3){
		display: none;
	}
	#responsiveNavButton{
		float: right;
		display: inline-block;
		margin-left: 5px;
		margin-top: 11px;
	}
	#login{
		margin-right: 5px;
	}
}

@media screen and (max-width: 680px){

	.mainMenu{
		float: right;
		top: 47px;
		position: fixed;
		background-color: #3498db;
		right: 0;
		width: 120px;
	}

	.mainMenu p a{
		color: inherit;
	}

	.mainMenu p{
		margin: 0;
		color: white;
	}

	.mainMenu p:hover{
		background-color: white;
		color: #3498db;
		border: 1px solid white;
	}

	.responsive p:nth-child(-n+3){
		display: block;
		position: relative;
		text-align: right;
		clear: both;
		padding: 10px 24px 10px 2px;
		border: 1px solid #3498db;
	}

}


.mainHeader{
	width: 100%;
	height: 300px;
	position: initial;
	top: 40px;
	background-image: url("http://i.imgur.com/rTTZQB8.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
	clear: both;
	color: white;
	font-size: 40px;
	display: block;
	z-index: 1;
}

.mainHeadergroup{
	width: 100%;
	height: 300px;
	position: initial;
	top: 50px;
	background-image: url("http://i.imgur.com/dv63p67.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
	clear: both;
	color: white;
	font-size: 40px;
	display: block;
	z-index: 1;
}

.mainHeaderdashboard{
	width: 100%;
	height: 300px;
	position: initial;
	top: 50px;
	background-image: url("http://i.imgur.com/H4esOFn.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
	clear: both;
	color: white;
	font-size: 40px;
	display: block;
	z-index: 1;
}

#welcomeHeader{
	margin-bottom: 0px;
	text-align: center;
	margin-top: 0px;
	padding-top: 50px;
	font-family: "Montserrat";
}

#welcomeHeaderFullName{
	text-align: center;
	margin-top: 0px;
	text-align: center;
	color: #3498db;
	font-family: "Montserrat";
}

.uploadFile{
	height: 150px;
	background-color: #3498db;
}

#uploadFileHeader{
	font-size: 20px;
	color: white;
	font-family: "Montserrat";
	text-align: center;
	margin-top: 0px;
	padding-top: 30px;

}

/*For drag and drop*/
.inputUpload,.inputError,#uploadButton{
	display: none;
}

.inputBox{
	position: relative;
	top: 40%;
}

.uploadFile form{
	display: block;
	text-align: center;
	clear: both;
	margin-top: 30px;
}

#chooseFileButton{
	cursor: pointer;
	transition: 0.1s;
	background-color: white;
	font-family: "Roboto";
	padding: 8px 13px 8px 13px;
	font-size: 15px;
	border: 1px solid #d3d3d3;
	border-radius: 10px;
}


#chooseFileButton:hover{
	color: #0288D1;
	transition: 0.1s;
}

.timetable p{
	text-align: center;
	font-family: "Montserrat";
	font-size: 20px;
	display: block;
	clear: both;

}

.timetable table{
	margin-top: 10px;
	margin-bottom: 35px;
}

.showingTable{
	overflow: scroll;
}

#editTimetableButton, #addGroupButton{
	text-decoration: none;
	margin-top: 20px;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	padding: 8px;
	background-color: white;
	transition: linear 0.1s;
	margin-left: 50px;
	margin-right: 50px;
	color: #3498db;
	border-radius: 30px;
	border: 1px #3498db solid; 
	display: block;
	clear: both;
	text-align: center;

}
#editTimetableButton:hover {
	color: white;
	background-color: #2b3856;
	border: 1px white solid;
}

.editTimetable{
	padding: 10px;
}

.showingTableToEdit{
	overflow-x: scroll;
	margin-bottom: 15px;
}
.showingGroup{
	background-color: #3498db;
	padding-left: 30px;
	font-family: "Montserrat";
	color: white;
	padding-top: 10px;
	height: 400px;
	margin-top: 25px;
}

.showingGroup p{
	margin: 0;
	font-size: 25px;
	margin-bottom: 10px;

}

.groupName{
	background-color: white;
	padding: 5px;
	color: #3498db;
	display: inline-block;
	width: 31%;
	max-width: 250px;
	text-align: center;
	border-radius: 7px;
	border: 1px solid;
	cursor: pointer;
	transition: 0.2s;
	overflow: hidden;
}

.showingMembers{
	background-color: #3498db;
	padding-left: 20px;
	font-family: "Montserrat";
	color: white;
	padding-top: 10px;
	height: 350px;
}

.groupName :hover{
	color: navy;
	transition: 0.2s;
}

#register {
	font-family: "Montserrat";
	font-size: 20px;
}


#addmember {
	font-family: "Montserrat";
	font-size: 25px;

}

.description{
	padding: 0px 40px;

}

#selectmember{
	font-family: "Montserrat";
	font-size: 20px;
	margin-left: 20px;
}

.showTableDiv{
	overflow-x: scroll;
	padding: 10px;
}

#min {

	font-size: 40px;
}

#selected {
	background-color: #3498db
}

#descriptionHeader {
	font-family: "Montserrat";
	font-size: 30px;
	color: white;

}
#descriptionContent {
	font-family: "Montserrat";
	font-size: 20px;
	color: white;
}

.mainabout{
	width: 100%;
	height: 100%;
	background-image: url("http://i.imgur.com/dv63p67.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
	display: block;
	clear: both;
	padding-top: 50px;
}

.noPointer{
	cursor: default;
}

.usernameDescription{
	font-size: 20px;
	margin: 0;
}

.nameDescription{
	color: #999999;
	font-family: "Roboto";
	font-style: italic;
	font-size: 15px;
	margin: 0;
	overflow: hidden;
}

#memberHeaders{
	margin: 0;
	font-size: 20px;
	margin-bottom: 10px;
}

.memberList{
	background-color: white;
	padding: 5px;
	color: #3498db;
	display: inline-block;
	width: 31%;
	max-width: 250px;
	text-align: center;
	border-radius: 7px;
	border: 1px solid;
	transition: 0.2s;
	overflow: hidden;
}
