body{
	margin:0px;
}

table{
	text-align: center;
	border: 1px solid black;
	border-collapse: collapse;
}

td {
	text-align: center;
	border: 1px solid black;
	overflow: hidden;
}

.busy{
    background-color: #FBC02D;
    color: #01080e;
    
}

.free{
	background-color: #9ecef8;
	color: white;
}

.header{
	font-weight: bold;
	background-color: #0288D1;
	padding-left: 10px;
	padding-right: 10px;
}

.day{
	background-color: #0288D1;
	text-align: left;
	font-weight: bold;
}

.navbar{
	width: 100%;
	height:47px;
	background-color: #3498db;
	display: block;
	margin-top: 0px;
	clear: both;
	position: fixed;
}

.menu, .navbar>p{
	top:50%;
	transform: translateY(-50%);
	padding-left: 10px;
	position:relative;

}

.menu> p, .menu>a, .navbar>p{
	font-family: 'Roboto', sans-serif;
	display: inline-block;
	font-size: 14px;
	color: white;
	position:relative;
	margin-right: 20px;
	transition: linear 0.1s;
	cursor: pointer;
	border: 1px #3498db solid; 
	padding: 2px 5px 2px 5px;
}
.menu>p:hover{
	/*border-bottom: solid white 2px; */
	border: 1px white solid; 
	padding: 2px 5px 2px 5px;
}


#login{

	font-size: 13px;
	padding: 10px;
	background-color: white;
	transition: linear 0.1s;
	margin-right: 50px;
	color: black;
	border-radius: 30px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 6px;
	border: 1px #3498db solid; 
}

#login:hover{
	cursor: pointer;
	color: white;
	background-color: #2b3856;
}
.main{
	width: 100%;
	height: 700px;
	background-color: white;
	display: block;
	clear: both;
	overflow: hidden;
}

.slider{
	display: block;
	width: 400%;
	height: 100%;
	padding-left: 0px;
}

	/* HERE IS DA IMAGE BOMB*/
#first {
	background-image: url("http://i.imgur.com/rTTZQB8.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.slide{
	float:left;
	width: 25%;
	height: 100%;
}


.slide>p{
	color: #FFFFFF;
	text-align: center;
	font-size: 100px;
	margin: 0px;
	padding-top: 220px;
	font-family: 'Montserrat', sans-serif;
}

#tagline{
	color: #FFFFFF;
	text-align: center;
	font-size: 100px;
	margin: 0px;
	padding-top: 0px;
	font-family: 'Montserrat', sans-serif;
	font-style: normal; 
}
.footer{
	width: 100%;
	height: 40px;
	clear: both;
	background-color: #3498db;
	display: block;
	margin: 0px;
}

.footer>p{
	color: #FFFFFF;
	text-align: center;
	font-size: 16px;
	margin: 0px;
	top:50%;
	transform: translateY(-50%);
	padding-left: 50px;
	position:relative;
	font-family: "Roboto";
}




.modal{
	display: none;
	position: fixed;
	z-index: 1;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.6);
	top: 0;
	padding-top: 15%;
}

.modal-content{
	background-color: white;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	border-radius: 10px;
	width: 50%;
	position: relative;
	color:black;
	-webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    padding-top: 6px;
    padding-right: 10px;
}

@-webkit-keyframes animatetop {
    from {top: -300px; opacity:0}
    to {top: 0px;opacity:1}
}

@keyframes animatetop {
    from {top: -300px; opacity:0}
    to {top: 0px;opacity:1}
}

.close{
	color: #aaa;
	float: right;
	font-size: 24px;
	font-weight: bold;
	transition: 0.2s linear;
	font-family: Arial;
}


.close:hover{
	cursor: pointer;
	color:black;
}

#coeo{
	float: left;
	font-size: 35px;
	padding-left: 50px;
	font-family: 'Montserrat', sans-serif;
	border: none;
}

